*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-header:#291670;
    --color-content-head: rgb(7, 10, 185);
    --color-content:#f4f4f7;
    --color-input-search: rgb(178, 182, 182);

}
.head{
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    min-height: 10vh;
}

.container-logo{
    height: max-content;
    margin-top: 5px;
    margin-left: 5px;
}
.imagen_u{
    width: 70px;
    height: 70px;
}

.container-user{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-weight: bold;
}

.person-icon{
    font-size: 30px;
    margin-right: 5px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-content);
    min-height: 90vh;
}

.container-work{
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 5px;
    margin-bottom: 20px;
    width: 75%;
    border-radius: 5px;
}

.div-hambueguer-icon{
    margin-right: 10px;
    cursor: pointer;
}

.container-input{
    width: 100%;
}

.container-input input{
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    border: solid rgb(249, 245, 245) 1px;
    background-color: rgb(212, 214, 214);
}

.container-content{
    background-color:var(--color-content);
    text-align: center;
    border-radius: 2px;
    width: 100%;
    visibility: hidden;

}

.content{
    background-color: #fff;
    font-size: 2rem;
    padding: 2px 2px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content:hover{
    background-color: #213f8f;
    color: white;
}



.container-content.active{
    visibility: visible;
}