#Registrar-materia {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container-form-crud-subject {
                                flex: 1;
                                margin-right: 20px;
                            }

#form-crud-subject {
    width: 100%;
}

.container-table-crud-subject {
    flex: 1;
}

#table-crud-subject {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.table-crud-subject {
    width: 100%;
    border-collapse: collapse;
}

.table-crud-subject th,
.table-crud-subject td {
    border: 1px solid #ccc;
    padding: 10px;
}

.table-crud-subject th {
    background-color: #f2f2f2;
}






