#Gestion-administrativos{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container-form-crud-room {
    width: 40%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.container-form-crud-room h2 {
    margin-top: 0;
}

.container-form-crud-room form {
    margin-top: 20px;
}

.container-form-crud-room .form-group {
    margin-bottom: 15px;
}

.container-form-crud-room label {
    display: block;
    font-weight: bold;
}

.container-form-crud-room input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-form-crud-room button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-form-crud-room button:hover {
    background-color: #0056b3;
}

.container-table-crud-room {
    width: 60%;
}

.container-table-crud-admin {
    width: 60%;
}
.container-input-search-admin{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 4px;
    padding-bottom: 4px;
}

.container-input-search-admin input{
    border: solid 1px #a9a8a8;
    outline: none;
}
.container-input-search-admin input:hover{
    box-shadow: 0 0 0 3px rgba(50, 181, 229, 0.20);
    border: rgba(0, 191, 255, 0.30) solid 1px;
    outline: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.table td input{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}