.profile-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#total-disponibility{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
}

#content-disponibility{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.disponibility-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

#no-disponibility-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#with-disponibility-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.form-floating{

}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}