*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

.main-container{
    display: flex;
    flex-direction: row;

    min-height: 100vh;
}


.first-page {
    width: 50%;
    background-color: #103E69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid rgb(6, 132, 186) 2px;
}
.button1:hover
{
    -fx-background-color : #e6e3e3 ;
    -fx-background-radius :  90;
    -fx-opacity:0.95;
}

.container-circle{
    float: left;
    width: 450px;
    height: 350px;
    margin: 20px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 0%);
    background: #d60229;
    transform: rotate(45deg);
    position: absolute;
    top: -50px;
    left: -100px;
}

.img-logo{
    width: 400px;
    padding-right: 20px;
}
.container-just{
    display:flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
}
.container-just-logo{
    background-color:  rgb(240, 238, 238);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}

.container-title{
    text-align: center;
}

.img-logo-schedule{
    width: 80%;
    height: 80%;

}

/*
.sombra{
    position: absolute;
    width: 50px;
    height: 338px;
    background-color: #2c02d6;
    z-index: 1;
    left: 200px;
    border-top-right-radius:  20px;
    border-bottom-right-radius:  20px;
}
*/

.second-page{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 254, 254);
}

.container-university-logo{
    width: auto;
    margin-bottom: 20px;
}

.input{
    background-color: white;
}

.container-Title{
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
}



.main-container-login{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-bottom: 20px;
}

.form{
    width:400px;
    position: relative;
}

.form div{
    margin-bottom: 15px;
}
.div-btn{
    display: flex;
    justify-content: center;
}

.div-btn button{
    width: 50%;
    outline: none;
    background-color: #103E69;
}

.icon-user{
    position: absolute;
    left: -26px;
    bottom: 178px;
    font-weight: bold;
}