<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
    <link href="adminstrator/adminStyle.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<header class="head">
    <div class="container-logo">
        <img src="images/u_imagen.png" alt="" class="imagen_u">
    </div>
    <div class="container-user">
        <span class="material-symbols-outlined person-icon">person</span>
        <p>Christián</p>
    </div>
</header>
<main class="main">
    <div class="container-work">
        <div class="container-head">
            <div class="div-hambueguer-icon">
                <span class="material-symbols-outlined menu-contain">menu</span>
            </div>
            <div class="container-input">
                <input type="text" id="input-search-contain">
            </div>
        </div>
        <div class="container-content" id="contain">
            <div class="content">
                <p>Crud de estudiantes</p>
            </div>
            <div class="content">
                <p>Crud de profesores</p>
            </div>
            <div class="content">
                <p>Crud de Salones</p>
            </div>
            <div class="content">
                <p>Gestionar horarios</p>
            </div>
        </div>
    </div>
</main>
<script src="adminstrator/adminMain.js"></script>
</body>
</html>