<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="login/styleLogin.css">
    <title>Document</title>
</head>
<body>
<main>
    <div class="main-container">
        <div class="first-page">
            <div class="container-circle">

            </div>

            <div class="container-schedule">
                <div class="sombra">

                </div>
                <div class="container-title">
                    <h2>Horario</h2>
                </div>
                <div class="container-schedule-logo">
                    <img src="login/images/calendario.png" class="img-logo-schedule">
                </div>
            </div>

        </div>
        <div class="second-page">
            <div class="container-university-logo">
                <img src="login/images/logo-universidad.png" alt="" class="img-logo">
            </div>
            <div class="main-container-login">
                <div class="container-Title" >
                    <h1 class="title-login">
                        Ingresar
                    </h1>
                </div>
                <form class="form">
                    <div>
                        <span class="material-symbols-outlined icon-user">person</span>
                        <input type="text" placeholder="Nombre-de-Identificacion">
                    </div>
                    <div>
                        <span class="material-symbols-outlined icon-password">lock</span>
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <div class="div-btn">
                        <button type="button">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>